@charset "UTF-8";

*{
	margin:0;
	padding:0;
	color: #424242;
}

/* 상단 바 */
header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 10;
    background-color: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    font-size: 1.4em;
    
}

header nav {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

header nav ul {
    width: 70%;
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin: 5px 5px;
    list-style: none;
}

header nav ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #636363;
   
}

.login {
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    padding-left: 8px;
}

.comm{
	font-size: 1.2em;
	position: fixed;
	left: 25px;
	top: 160px; 
	padding-right: 140px;
}

.comm:after {
	content:"";
	display: block;
	border-bottom: 1px solid #2A3D57;
	padding-bottom: 10px;
}


/* 사이드 바 */

#left{
	position: fixed;
	left: 20px;
	top: 200px;
	bottom: 0;
}

#left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
   	font-size: 1.4em;
}

#left li a {
	top: 200px;
    display: block;
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #424242;
}

.menu ::before{
	font-family: 'Material Icons';
	font-size: 1.5em;
	float: left;
	clear: left;
}

.menu li:nth-child(1) a::before{content: '\ef42';}
.menu li:nth-child(2) a::before{content: '\f04c';}
.menu li:nth-child(3) a::before{content: '\e0d8';}

.menu div{
	line-height: 1.5;
	font-family: 'Roboto';
	padding: 0 0 0 40px;
	background-color: #f1f1f1;
}

#left li a:hover{
    color: #456189;
}

.menu div:hover {
	color: #456189;
}


html{
	font-size: 10px;
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
	color:inherit;
}

/* 
a.num:hover{
	text-decoration: underline;
} */

.board_wrap{
	width: 1400px;
	margin: 100px auto;
	margin-left: 250px;
	margin-top: 150px;
	/* position: fixed; */
}

.board_title{
	margin-bottom: 30px;
}



#write_new_post_btn{
    margin-top: -20px;
    float: right;
    height: 35px;
    padding: 0px 10px 0px 10px;
    line-height: 35px;
    color:  #2A3D57;
    font-size: 1.4rem;
    border: 1.5px solid  #2A3D57;
    border-radius: 2px;
    font-family: 'Material Icons';
 	background: #FAFAFA;
 	cursor: pointer;
}

.material-icons-outlined{
	color:  #2A3D57;
	font-size: 1.5em;
	float: left;
	clear: left;
	
	
}

.material-icons-outlined a{
	font-size: 1.5em;
	color:  #2A3D57;
	
	

}

.board_title strong{
	font-size: 3rem;
}

.board_title p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.search{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}

.search:first-child{
	margin-left:0;
}

#bar {
	border-radius: 2px 0px 0px 2px;
	display: inline-block;
	border: 1px solid #999999;
	font-size: 1.4rem;
	margin-left: 10px;
	padding: 10px;
	height: 90%;
	width: 200px;
}

.search input:first-child{
	width: 200px;
	height: 90%;
	border: none;
	outline: none;
	font-size: 1.4rem;
	
	
}

.search input:last-child{
	border-radius: 0px 2px 2px 0px;
	display: inline-block;
	border: 1px solid #2A3D57; 
	font-size: 1.4rem;
	margin-left: -1px;
	padding: 10px;
	height: 10%; 
	color: #fff;
	width: 70px;
	background: #2A3D57; 
	outline: none;
	cursor: pointer;

	
}

.bt_wrap{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}


.bt_wrap button{
	display: inline-block;
	min-width: 80px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
	cursor: pointer;
	
}

.bt_wrap input{
	display: inline-block;
	min-width: 80px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
	cursor: pointer;
	
}

#modi{
	margin-left: 0;
	background: #2A3D57;
	color: #fff;
}

#delete{

}

#list{
	margin-left: 0;
	background: #2A3D57;
	color: #fff;
}

.board_list{
	width: 100%;
	height: 100%;
	border-top: 2px solid #000;
}

.board_list > div {
	border-bottom: 1px solid #ddd;
	font-size: 0;
}

.board_list > div.top {
	border-color: #999;
}

.board_list > div:last-child {
	border-bottom: 1px solid #000;
}

.board_list > div > div {
	display: inline-block;
	padding: 15px 0;
	font-size: 1.4rem;
	text-align: center;
}

.board_list > div.top > div {
	font-weight: 600;
}

.board_list .RB_UQ {
	width: 10%;
}


.board_list .QNA_Title {
	width: 60%;
	text-align: left;
}

.board_list .top .QNA_Title {
	text-align: center;
}

.board_list .User_ID {
	width: 10%;
}

.board_list .QNA_Date_Created {
	width: 10%;
}

.board_list .cnt {
	width: 10%;
}

.board_page {
	margin-top: 30px;
	text-align: center;
}

.board_page a{
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid #FAFAFA;
	border-left: 0;
	line-height: 100%;
	font-size: 1.4em;
	
	
}

.paging{
	padding-top: 9px;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

/* .board_page a.bt{
	padding-top: 9px;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.board_page a.num{
	padding-top: 9px;
	font-size: 1.4rem;
}

.board_page a.num.on {
	border-color: #2A3D57;
	background-color: #2A3D57;
	color: #fff;
} */

/* board_view */

.board_view {
	width: 100%;
	border-top: 2px solid black;
}

.board_view .QNA_title {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.board_view .info {
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}

.board_view .info dl{
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.board_view .info dl:first-child {
	padding-left: 0;
}

.board_view .info dl::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;
}

.board_view .info dl:first-child::before {
	display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
	display: inline-block;
	font-size: 1.4rem;
}

.board_view .info dl dt{
	
}

.board_view .info dl dd{
	margin-left: 10px;
	color: #777;
}

.board_view .QNA_Contents {
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}

/* board_write */

.board_write {
	border-top: 2px solid #000;
}

.board_write .title,
.board_write .info{
	padding: 15px;
}

.board_write .info {
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}

.board_write .title dl {
	font-size: 0;
}

.board_write .info dl {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
	width: 100px;
	
}

.board_write .title dd {
	width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"]{
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
	
}


.board_write .title input[type="text"] {
	width: 80%;
}

.board_write .cont {
	border-bottom: 1px solid #000;
}

.board_write .cont textarea{
	display: block;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-sizing: border-box;
	border: 0;
	resize: vertical;
}

/* 신고버튼 */
.Report {
	font-size: 1.4em;
	border: none;
	background-color:  #FAFAFA;
	color:  #424242;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
	float: right;
}



/* 댓글목록 */