.u-section-1 .u-sheet-1 {
  min-height: 394px;
}

.u-section-1 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  margin: -207px 0 0;
}

.u-section-1 .u-table-cell-2 {
  margin-top: 207px;
}