.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-group-1 {
  width: 1040px;
  min-height: 250px;
  margin: 50px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-59da-41 {
  height: 46px;
}

.u-block-59da-50 {
  height: 46px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: -170px auto 0 20px;
}

.u-section-1 .u-table-2 {
  width: 1040px;
  margin: 0 auto 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

.u-section-1 .u-table-body-2 {
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }
}